body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #f4f4f4;
}

#glcanvas {
    border: 2px solid #333;
    margin-bottom: 20px;
    width: 65vw;
    height: 92vh;
    display: block;
}

#colorPicker {
    text-align: center;
}

.container {
    display: flex;
    align-items: start;
    padding: 20px;
    gap: 20px;
}

#colorPicker {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#toolPicker {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: start;
}

.tool-section, .layer-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* padding-left: 10px; */
    width: 200px;
}

.layer-section {
    /* border-left: 1px solid #ccc; */
    padding-left: 5px;
}

.file-panel {
    /* border-right: 1px solid #ccc; */
    padding-right: 10px;
}

.side-panel {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: start;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}

.side-panel h2 {
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.reset-button{
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 20px;
  margin-left: 40px;
  font-weight: bold;
  font-size: 16px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reset-button:hover {
    background-color: #ff3333;
}

.tool-button {
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 16px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mapping-button {
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 16px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tool-button.active {
    background-color: #f0f0f0;
    border: 2px solid #000;
}

.tool-button:hover {
    background-color: #f0f0f0;
}

.tool-button i {
    font-size: 32px;
}

.mapping-button.active {
    background-color: #f0f0f0;
    border: 2px solid #000;
}

.mapping-button:hover {
    background-color: #f0f0f0;
}

.mapping-button i {
    font-size: 32px;
}

.reset-button i {
    font-size: 32px;
}
